<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wordDisplay">
        <p class="textDisplay">上一个单词显示栏上一个单词显示栏上一个单词显示栏</p>
        <p class="textDisplay" style="font-size: 50px; height: 40%;">当前单词显示栏</p>
        <p class="textDisplay">当前单词意思显示栏当前单词意思显示栏当前单词意思显示栏</p>
    </div>
    <div>
        <div>
            <textarea v-model=" " rows="10" cols="50" placeholder="请输入单词" maxlength="-1"></textarea>
            <textarea v-model=" " rows="10" cols="50" placeholder="请输入意思" maxlength="-1"></textarea>
        </div>
        <div>
            <button></button>
            <button></button>
            <button></button>
        </div>
        <div>
            <textarea name="" id=""></textarea>
            <textarea name="" id=""></textarea>
        </div>
        <div>
            <button></button>
            <button></button>
        </div>
        <div>
            <button></button>
            <button></button>
            <button></button>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>